{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <section class="section create-form">
        <div class="section__content create-form__content">

            <h1 class="section__title">Edit Author</h1>
            {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

            <div>
                {{ include('author/_delete_form.html.twig') }}
                <a href="{{ path('author_index') }}" class="section__create-link">back to list</a>
            </div>
        </div>
    </section>
{% endblock %}
